<h2>Welcome {{name}}</h2>

<div class="container dashboard-main" id="content">

  <h4>Today's bible verse:</h4>
  <p id="verseText">" {{verseText}}"</p>
  <p id="verseReference">{{verseReference}}</p>
  <span>- Meditate on the word and write down your thoughts</span><br>
  <a href="/dashboard" id="generateVerse" class="btn btn-primary">New verse?</a>

  {{#if stories}}
  <table class="striped">
    <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Status</th>
      <th>Edit / Delete</th>
    </tr>
    </thead>
    <tbody>
    {{#each stories}}
      <tr>
        <td><a href="/stories/{{_id}}">{{title}}</a></td>
        <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
        <td><span class="dash-status">{{status}}</span></td>
        <td>
          <a href="/stories/edit/{{_id}}" class="btn btn-float">
            <i class="fas fa-edit"></i>
          </a>

          <form action="/stories/{{_id}}" method="POST" id="delete-form">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn red">
              <i class="fas fa-trash"></i>
            </button>
          </form>


        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  {{else}}
  <p>Add your story</p>
  {{/if}}

</div>



